<!--
<?php
if(isset($_POST['submit_row']))
{
 $host="localhost";
 $username="root";
 $password="";
 $databasename="sample";
 $connect=mysql_connect($host,$username,$password);
 $db=mysql_select_db($databasename);   
 
 $name=$_POST['name'];
 $age=$_POST['age'];
 $job=$_POST['job'];
 for($i=0;$i<count($name);$i++)
 {
  if($name[$i]!="" && $age[$i]!="" && $job[$i]!="")
  {
   mysql_query("insert into employee_table values('$name[$i]','$age[$i]','$job[$i]')");  
  }
 }
}
?>
-->



<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="icon" href="img/favicon.png" type="image/png" />
  <title>Eiser ecommerce</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.css" />
  <link rel="stylesheet" href="vendors/linericon/style.css" />
  <link rel="stylesheet" href="css/font-awesome.min.css" />
  <link rel="stylesheet" href="css/themify-icons.css" />
  <link rel="stylesheet" href="css/flaticon.css" />
  <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css" />
  <link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css" />
  <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css" />
  <link rel="stylesheet" href="vendors/animate-css/animate.css" />
  <link rel="stylesheet" href="vendors/jquery-ui/jquery-ui.css" />
  <!-- main css -->
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/responsive.css" />
</head>

<body>
  <!--================Header Menu Area =================-->
  <header class="header_area">
    
    <div class="main_menu">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href="index.html">
            <img src="img/logo.png" alt="" />
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse offset w-100" id="navbarSupportedContent">
            <div class="row w-100 mr-0">
              <div class="col-lg-7 pr-0">
                
              </div>

              <div class="col-lg-5 pr-0">
                <ul class="nav navbar-nav navbar-right right_nav pull-right">
                  <a class="main_btn" href="#placeOrder" style="margin:5px;">Place Order</a>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <!--================Header Menu Area =================-->

  <!--================Home Banner Area =================-->
  <section class="home_banner_area mb-40">
    <div class="banner_inner d-flex align-items-center">
      <div class="container">
        <div class="banner_content row">
          <div class="col-lg-12">
            <p class="sub text-uppercase">We bring the world closer to you.</p>
            <h3><span>Original Brands</span> at <br />your <span>Door Steps</span></h3>
            <a class="main_btn mt-40" href="#placeOrder">Place Order</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Home Banner Area =================-->

  <!-- Start feature Area -->
  <section class="feature-area section_gap_bottom_custom">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="single-feature">
            <a href="#" class="title">
              <i class="flaticon-money"></i>
              <h3>Money back guarantee</h3>
            </a>
            <p>We give money back guarantee on our services</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="single-feature">
            <a href="#" class="title">
              <i class="flaticon-truck"></i>
              <h3>On-time Delivery</h3>
            </a>
            <p>Our delivery is always on time</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="single-feature">
            <a href="#" class="title">
              <i class="flaticon-support"></i>
              <h3>On-call Support</h3>
            </a>
            <p>We are always here to listen to you</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="single-feature">
            <a href="#" class="title">
              <i class="flaticon-blockchain"></i>
              <h3>Safe Delivery</h3>
            </a>
            <p>We treat you packages with great care</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End feature Area -->

  <!--================ Feature Product Area =================-->
  <section class="feature_product_area section_gap_bottom_custom">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="main_title">
            <h2><span>Place Order</span></h2>
            <p>Importing something to Pakistan has never been easier.</p>
          </div>
        </div>
      </div>  


 <form method="post" action="store_detail.php">
  <div id="employee_table" align=center>
   
   <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <input class="form-control" name="link[]" id="link" type="text" placeholder="Paste product link...">
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <input class="form-control" name="quantity[]" id="quantity" type="number" placeholder="Quantity">
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <input class="form-control" name="size[]" id="size" type="text" placeholder="Size">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <input class="form-control" name="color[]" id="color" type="text" placeholder="Color">
              </div>
            </div>
            <div class="col-sm-5">
              <div class="form-group">
                <input class="form-control" name="price[]" id="price" type="text" placeholder="Price in GBP">
              </div>
            </div>
          </div>


  </div>
 
  <div class="form-group">
                    <textarea class="form-control w-100" name="message" id="message" cols="30" rows="9" placeholder="Any comments, product code... (Optional)"></textarea>
                </div>


                 <input type="button" onclick="add_row();" value="Add More" class="main_btn">
  <input type="submit" name="submit_row" value="Checkout" class="main_btn">


 </form>




</div>
      </div>
    </div>
  </section>
  <!--================ End Feature Product Area =================-->


  <!--================ End Blog Area =================-->

  <!--================ start footer Area  =================-->
  <footer class="footer-area" style="padding-bottom:20px;padding-top: 5px">
    <div class="container">
      
      <div class="footer-bottom row align-items-center">
        <p class="footer-text m-0 col-lg-8 col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Built by <a href="https://www.anomoz.com" target="_blank">Anomoz Softwares</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        
      </div>
    </div>
  </footer>
  <!--================ End footer Area  =================-->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/stellar.js"></script>
  <script src="vendors/lightbox/simpleLightbox.min.js"></script>
  <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
  <script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
  <script src="vendors/isotope/isotope-min.js"></script>
  <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="js/jquery.ajaxchimp.min.js"></script>
  <script src="vendors/counter-up/jquery.waypoints.min.js"></script>
  <script src="vendors/counter-up/jquery.counterup.js"></script>
  <script src="js/mail-script.js"></script>
  <script src="js/theme.js"></script>

  <script type="text/javascript">
    function add_row()
    {
     $rowno=$("#employee_table tr").length;
     $rowno=$rowno+1;


     $("#employee_table").append('<div class="row"><div class="col-sm-12"><div class="form-group"><input class="form-control" name="name" id="name" type="text" placeholder="Paste product link..."></div></div><div class="col-sm-2"><div class="form-group"><input class="form-control" name="name" id="name" type="text" placeholder="Quantity"></div></div><div class="col-sm-2"><div class="form-group"><input class="form-control" name="email" id="email" type="email" placeholder="Size"></div></div><div class="col-sm-3"><div class="form-group"><input class="form-control" name="email" id="email" type="email" placeholder="Color"></div></div><div class="col-sm-5"><div class="form-group"><input class="form-control" name="email" id="email" type="email" placeholder="Price in GBP"></div></div></div><hr>');

/**
     $("#employee_table tr:last").after("<tr id='row"+$rowno+"'><td><input type='text' name='name[]' placeholder='Enter Name'></td><td><input type='text' name='age[]' placeholder='Enter Age'></td><td><input type='text' name='job[]' placeholder='Enter Job'></td><td><input type='button' value='DELETE' onclick=delete_row('row"+$rowno+"')></td></tr>");
     **/
    }
    /**
    function delete_row(rowno)
    {
     $('#'+rowno).remove();
    }
    **/


  </script>
</body>

</html>